# No directory listing
<Files ".htaccess">
    Order allow,deny
    Deny from all
</Files>

Options -Indexes

RewriteEngine on

# /resume --> straight to pdf
RewriteRule ^resume$ Errol_Markland_Resume.pdf [NC]

# Remove file ending (/index.php -> /index)
RewriteRule ^([a-zA-Z]+)$ $1.php [NC]
RewriteRule ^handlers/([a-zA-Z]+)$ $1.php [NC]
