// constants
@background-Base: #222;
@page-Width: 1280px;
@page-Height: auto;
@radius: 5px;
@default-font-family: "Century Gothic";
@default-font-size: 18px;
@default-font-weight: normal;


// containers
.rounded_container(@width, @radius, @thickness, @color, @fill-color: #FFF) {
  width: @width;
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
  border: @thickness solid @color;
  background-color: @fill-color;
}

.font(@font-family: @default-font-family, @font-size: @default-font-size, @font-weight: @default-font-weight) {
  font-family: @font-family;
  font-size: @font-size;
  font-weight: @font-weight;
}

// clearer hack 
.clearer { clear: both; }
   

//TODO: DO this later!
.contentSeparator { 
  // define the separator for content 
}
.widgetSeparator { 
  // define the separator for widgets 
}

// page layout
#page {
  width: @page-width;
  height: @page-height;
  margin-left: auto;
  margin-right: auto;
  .font
}

// page content
#content {
  .rounded_container(1200px, 5px, 1px, #000);
}



