@font-face {
  font-family: 'News Cycle';
  font-style: normal;
  font-weight: 400;
  src: local('News Cycle Regular'), local('NewsCycle-Regular'), url(/fonts/news-cycle.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), url(/fonts/open-sans.woff) format('woff');
}
@font-face {
  font-family: 'Century Gothic';
  font-style: normal;
  font-weight: normal;
  src: local('Century Gothic'), url(/fonts/century-gothic.woff) format('woff');
}
.separator {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  min-height: 1px;
  clear: both;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
  min-height: 1px;
  clear: both;
}
html {
  overflow-y: scroll;
}
body {
  margin: 0px;
  padding: 0px;
  background-image: -webkit-gradient(linear, left bottom, right top, color-stop(0, #eaea95), color-stop(0.25, #eaea95), color-stop(0.25, #f3f3c4), color-stop(0.5, #f3f3c4), color-stop(0.5, #eaea95), color-stop(0.75, #eaea95), color-stop(0.75, #f3f3c4));
  background-size: 20px 20px;
  width: 100%;
  height: 100%;
}
#page {
  width: 1280px;
  height: auto;
  width: 1280px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  border: 0px solid #000000;
  background-color: #bbbb88;
  padding: 25px;
  margin: 25px auto;
  font-family: 'News Cycle', 'Opera Sans', 'Century Gothic', sans-serif;
  font-size: 48px;
  font-weight: normal;
  color: #000000;
  min-height: 40 0px;
}
#header {
  width: 960px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 0px solid #000000;
  background-color: #bbbb88;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
  margin-top: 1px;
  margin-bottom: 1px;
  font-family: 'News Cycle', 'Opera Sans', 'Century Gothic', sans-serif;
  font-size: 120px;
}
#navigation {
  width: 1280px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 0px solid #000000;
  background-color: #bbbb88;
  float: right;
  margin-bottom: 5px;
}
#navigation a:active,
#navigation a:visited,
#navigation a:hover,
#navigation a:link {
  text-decoration: none;
  font-style: none;
  color: inherit;
}
#navigation ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  text-align: right;
}
#navigation li {
  display: inline;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-top: 3px;
  margin-bottom: 3px;
}
.nav-item {
  width: 192px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #8d8d50;
  background-color: #8d8d50;
  margin: auto 0px;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  transition-delay: 0s;
  /* Firefox 4 */

  -moz-transition-property: all;
  -moz-transition-duration: 0.2s;
  -moz-transition-timing-function: ease;
  -moz-transition-delay: 0s;
  /* Safari and Chrome */

  -webkit-transition-property: all;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-timing-function: ease;
  -webkit-transition-delay: 0s;
  /* Opera */

  -o-transition-property: all;
  -o-transition-duration: 0.2s;
  -o-transition-timing-function: ease;
  -o-transition-delay: 0s;
  font-family: 'News Cycle', 'Opera Sans', 'Century Gothic', sans-serif;
  font-size: 43px;
  font-weight: normal;
  color: #000000;
}
.nav-item:hover {
  width: 192px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #5c5c35;
  background-color: #5c5c35;
  margin: auto 0px;
  color: #fff;
  cursor: default;
}
.nav-item:active {
  width: 192px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #454527;
  background-color: #454527;
  margin: auto 0px;
  color: #fff;
  cursor: default;
}
#active-nav-item {
  width: 192px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #454527;
  background-color: #454527;
  transition-property: none;
  transition-duration: 0s;
  transition-timing-function: none;
  transition-delay: 0s;
  /* Firefox 4 */

  -moz-transition-property: none;
  -moz-transition-duration: 0s;
  -moz-transition-timing-function: none;
  -moz-transition-delay: 0s;
  /* Safari and Chrome */

  -webkit-transition-property: none;
  -webkit-transition-duration: 0s;
  -webkit-transition-timing-function: none;
  -webkit-transition-delay: 0s;
  /* Opera */

  -o-transition-property: none;
  -o-transition-duration: 0s;
  -o-transition-timing-function: none;
  -o-transition-delay: 0s;
  color: #fff;
}
.content {
  width: 1280px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 0px solid #000000;
  background-color: #bbbb88;
  margin-bottom: 10px;
}
.content a:active,
.content a:visited,
.content a:link {
  text-decoration: none;
  font-weight: bold;
  color: inherit;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  transition-delay: 0s;
  /* Firefox 4 */

  -moz-transition-property: all;
  -moz-transition-duration: 0.2s;
  -moz-transition-timing-function: ease;
  -moz-transition-delay: 0s;
  /* Safari and Chrome */

  -webkit-transition-property: all;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-timing-function: ease;
  -webkit-transition-delay: 0s;
  /* Opera */

  -o-transition-property: all;
  -o-transition-duration: 0.2s;
  -o-transition-timing-function: ease;
  -o-transition-delay: 0s;
}
.content a:hover {
  color: #555555;
}
.content p {
  padding: 10px;
  margin: 0px;
}
#latest h1 {
  font-weight: bold;
  font-size: 57.599999999999994px;
  margin: 0px;
  padding: 0px;
  padding-left: 10px;
}
#latest li {
  list-style-type: square;
}
#contact-form {
  width: 576px;
  height: auto;
  margin: 20px;
  font-family: 'News Cycle', 'Opera Sans', 'Century Gothic', sans-serif;
  float: left;
}
#contact-form .form-item {
  width: 80%;
  padding: 0px;
  margin: 5px;
  font-size: 24px;
}
#contact-form p {
  margin: 5px;
  padding: 0px;
  font-weight: bold;
  text-align: center;
  font-size: 38px;
}
#contact-form input {
  width: 576px;
  width: 576px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #bbbb88;
  background-color: #ffffff;
  min-height: 25px;
  padding: 5px;
  font-weight: bold;
  font-size: 24px;
}
#contact-form textarea {
  width: 576px;
  min-height: 150px;
  width: 576px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #bbbb88;
  background-color: #ffffff;
  padding: 5px;
  font-family: 'News Cycle', 'Opera Sans', 'Century Gothic', sans-serif;
  font-size: 24px;
}
#contact-form #submit-button {
  width: 144px;
  min-height: 20px;
  text-align: center;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  transition-delay: 0s;
  /* Firefox 4 */

  -moz-transition-property: all;
  -moz-transition-duration: 0.2s;
  -moz-transition-timing-function: ease;
  -moz-transition-delay: 0s;
  /* Safari and Chrome */

  -webkit-transition-property: all;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-timing-function: ease;
  -webkit-transition-delay: 0s;
  /* Opera */

  -o-transition-property: all;
  -o-transition-duration: 0.2s;
  -o-transition-timing-function: ease;
  -o-transition-delay: 0s;
  background-color: #9f9f6c;
  border: solid 1px #fffff7;
  font-weight: bold;
  padding: 15px;
}
#contact-form #submit-button:hover {
  background-color: #848451;
  color: #ffffff;
  border: solid 1px #fffff7;
}
#contact-form #submit-button:active {
  background-color: #5d5d2a;
  color: #fffff7;
  border: solid 1px #fffff7;
}
input#human-check {
  padding: 5px;
  font-size: 12px;
}
#social-links {
  width: 576px;
  margin: 25px;
  float: left;
}
#social-links p {
  margin: 5px;
  padding: 0px;
  font-weight: bold;
  text-align: center;
  font-size: 38px;
}
.social-icon {
  width: 125px;
  height: 125px;
  width: 125px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #bcbc89;
  background-color: #bbbb88;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  transition-delay: 0s;
  /* Firefox 4 */

  -moz-transition-property: all;
  -moz-transition-duration: 0.2s;
  -moz-transition-timing-function: ease;
  -moz-transition-delay: 0s;
  /* Safari and Chrome */

  -webkit-transition-property: all;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-timing-function: ease;
  -webkit-transition-delay: 0s;
  /* Opera */

  -o-transition-property: all;
  -o-transition-duration: 0.2s;
  -o-transition-timing-function: ease;
  -o-transition-delay: 0s;
  margin: 1%;
  float: left;
  display: inline;
  text-align: center;
  line-height: 10px;
}
.social-icon:hover {
  background-color: #848451;
}
.social-icon:active {
  background-color: #4c4c19;
}
#social-icon-container {
  margin-left: 20px;
}
.loading {
  display: none;
  background: #bbbb88, url("/images/loading2.gif"), 50% 50%, no-repeat;
}
#copyright {
  font-family: 'News Cycle', 'Opera Sans', 'Century Gothic', sans-serif;
  font-size: 12px;
  font-weight: normal;
  color: #000000;
  text-align: center;
  margin-bottom: 15px;
}
#hey-there {
  font-size: 120px;
}
.clearer {
  clear: both;
}
