// constants
@default-page-width: 1280px;
@default-page-height: auto;

@default-container-radius: 5px;
@default-background-color: #444;
@default-fill-color: #000;
@default-border-color: #000;
@default-border-thickness: 1px;
@default-border-radius: 1px;
@default-separator-color: @default-background-color;
@default-font-family: 'News Cycle', 'Opera Sans', 'Century Gothic', sans-serif;
@default-font-size: 48px;
@default-font-weight: normal;
@default-font-color: #000;

// derived values
@max-container-width: @default-page-width - 16px;
@container-item-width: floor(@default-page-width * (2/3)) - 5px;

.center-margin() {
  margin-right: auto;
  margin-left: auto;
}

.no-space() {
  margin: 0px;
  padding: 0px;
}

// containers methods
.rounded-container(@width, @radius: @default-container-radius, @thickness: @default-border-thickness, @color: @default-border-color, @fill-color: @default-fill-color) {
  width: @width;
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
  border: @thickness solid @color;
  background-color: @fill-color;
}

.floated-container(@float: @default-float, @width, @radius: @default-container-radius, @thickness: @default-border-thickness, @color: @default-border-color, @fill-color: @default-fill-color) {
  float: @float;
  .rounded-container(@width, @radius, @thickness, @color, @fill-color);
}


// separator methods
.content-separator(@margin, @separator-color: @default-separator-color) { 
  .content-separator(@margin, @margin, @separator-color);
}

.content-separator(@margin-sides, @margin-top-bottom, @separator-color: @default-separator-color) {
  .content-separator(@margin-sides, @margin-sides, @margin-top-bottom, @margin-top-bottom, @separator-color);
}

.content-separator(@margin-left, @margin-right, @margin-top, @margin-bottom, @separator-color: @default-separator-color) {
  margin-left: @margin-left;
  margin-right: @margin-right;
  margin-top: @margin-top;
  margin-bottom: @margin-bottom;
  min-height: 1px;
  clear: both;
}

// padding methods
.container-padding(@padding) {
  .container-padding(@padding, @padding);
}

.container-padding(@padding-sides, @padding-top-bottom) {
  .container-padding(@padding-sides, @padding-sides, @padding-top-bottom, @padding-top-bottom);
}

.container-padding(@padding-left, @padding-right, @padding-top, @padding-bottom) {
  padding-left: @padding-left;
  padding-right: @padding-right;
  padding-top: @padding-top;
  padding-bottom: @padding-bottom;
  margin-top: @padding-top;
  margin-bottom: @padding-bottom;
}

// font methods
.font(@font-family: @default-font-family, @font-size: @default-font-size, @font-weight: @default-font-weight, @font-color: @default-font-color) {
  font-family: @font-family;
  font-size: @font-size;
  font-weight: @font-weight;
  color: @font-color;
}   
// END LESS definitions

html { overflow: scroll-y; }
  
// page layout;
#page {
  width: @default-page-width;
  height: @default-page-height;
  .rounded-container(@default-page-width, 3px, @default-border-thickness, #999, #ddd);
  .container-padding(5px);
  .center-margin;
  .font;
}

#body {
  width: @default-page-width + 20px;
  min-height: 100%;
  height: 100%;
  background-color: #fff;
  .center-margin;
  padding: 10px 0px;
  overflow: hidden;
}

body {
  //background-color: @default-background-color;
  .no-space;
}


// page content
#content {
  .floated-container(left, floor(@default-page-width * (2/3)), 5px, @default-border-thickness, @default-border-color, #ddd);
  .container-padding(5px);
}

#sidebar {
  .floated-container(right, floor(@default-page-width * (1/3)) - 40px, 5px, @default-border-thickness, @default-border-color, #ddd);
  .container-padding(5px);
  margin-right: 5px;
}

#navigation {
  .rounded-container(@max-container-width, 5px, 0px, @default-border-color, #888);
  .font(@default-font-family, 30px, normal, #131);
  .container-padding(5px, 1px);
}

#header {
  .rounded-container(@max-container-width, 5px, @default-border-thickness, @default-border-color, #888);
  .container-padding(5px, 1px);
  .font(@default-font-family, 90px, normal, #131);
  text-align: right;
}

#footer {
  .rounded-container(@max-container-width, 5px, @default-border-thickness, @default-border-color, #888);
  .container-padding(5px, 1px);
  .font(@default-font-family, 90px, normal, #131);
}

.separator {
  .content-separator(0px, 5px);
}

.content-item {
  .rounded-container(@container-item-width, 5px, 1px, @default-border-color - #222, #bbb);
  .content-separator(0px, 0px, 0px, 15px);
}

.content-item-title {
  .font(@default-font-family, 36px, 100, #353);
  padding-left: 10px;
}

.content-item-content {
  .font(@default-font-family, 24px, normal, #131);
  padding-left: 10px;
}

@font-face {
  font-family: 'News Cycle';
  font-style: normal;
  font-weight: 400;
  src: local('News Cycle Regular'), local('NewsCycle-Regular'), url(../fonts/news-cycle.woff) format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), url(../fonts/open-sans.woff) format('woff');
}

@font-face {
  font-family: 'Century Gothic';
  font-style: normal;
  font-weight: normal;
  src: local('Century Gothic'), url(../fonts/century-gothic.woff) format('woff');
}
//.content-item-media {
  // place stuff for media
//}
/* Built with assistance from LESS =] (http://www.lesscss.org) */
